* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;

}

::-webkit-scrollbar {
    background-color: #222;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: tomato;
}

/* Theme changer */

:root {
    --primary-color: white;
    --secondary-color: #222; 
    --sidenav: block;
    --main-width: 80%;
    --main-margin: 20%;
    --body-display: flex;
    --cc-border: #ccc;
    --transition-duration-cacc: 0.3s;
}

.switch-theme {
    --primary-color: black;
    --secondary-color: #dddddd;
    --cc-border: #333;
}

.sidenav-open {
    --sidenav: none;
    --main-width: 100%;
    --main-margin: 0;
    --body-display: block;
}

/* code container */

.code-container {
    display: none; /* Hide by default */
    max-height: 0;
    overflow: hidden;
    background-color: #111;
    border: 1px solid var(--cc-border);
    padding: 10px;
    margin: 10px 0;
    overflow-x: auto; 
    white-space: pre-line;
    transition: max-height var(--transition-duration-cacc);
}

code {
    font-family: 'Courier New', monospace;
    color: yellow;
    font-size: 25px;
}

.accordion-button {
    background-color: tomato;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion-button:hover {
    background-color: #333;
    color: white;
}

/* main divs */


.main div:not(.code-container) {
    padding-top: 100px;
}

/* main web */

.body {
    display: var(--body-display);
    align-items: stretch;
    justify-content: space-between;
}

/* top navigation bar */

nav {
    background-color: #222;
    height: 100px;
    width: 100%;
    position: fixed;
    border-bottom: #555 1px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkmode-container {
    position: relative;
}

.darkmode-container button {
    color: tomato;
    padding: 5px;
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    background: none;
}

.darkmode-container button:hover {
    cursor: pointer;
    color: white;
}

.darkmode-icon {
    font-size: 50px;
}

nav ul li {
    list-style: none;
}


nav a {
    text-decoration: none;
    color: white;
}

nav a h1 {
    font-size: 45px;
}

/* left navigation bar */

.active-link {
    background-color: tomato;
    border-left: red 20px solid;
}

.active-link:hover {
    border-left: red 60px solid;
    transition: .5s;
}

.sidenav-button {
    position: relative;
}

.sidenav-button button {
    color: tomato;
    padding: 5px;
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    background: none;
}

.sidenav-icon {
    font-size: 50px;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.sidenav-button button:hover {
    color: white;
    cursor: pointer;
}


.body .left-nav {
    display: var(--sidenav);
    width: 20%;
    background-color: #222;
    position: fixed;
    height: 100%;
    margin-top: 100px;
    border-right: #555 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.left-nav ul {
    align-items: center;
}

.left-nav li {
    list-style: none;
    padding: 20px;
}

.left-nav li:hover {
    background-color: tomato;
    color: #222;
    transition: .5s;
}

.left-nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

/* main content */

.main {
    width: var(--main-width);
    background-color: var(--secondary-color);
    height: 100%;
    margin-left: var(--main-margin);
    padding: 100px;
    color: var(--primary-color);
    padding-top: 100px;
}

.body .main h1, h2, h3, h4, h5, h6 {
    padding: 20px;
    font-size: 40px;
}

.body .main p {
    margin: 20px;
    font-size: 23px;
    white-space: pre-line;
}

.body .main h2,p b {
    color: tomato;
}

img.htmlt-tag-img {
    width: 70%;
    height: auto;
}

/* mobile responsive */

@media screen and (max-width: 600px) {

    :root {
        --sidenav: none;
        --main-width: 100%;
        --main-margin: 0;
        --body-display: block;
        --sidenav-pos: relative;
    }

    .sidenav-open {
        --sidenav: block;
        --main-width: 100%;
        --main-margin: 0;
        --body-display: block;
        --sidenav-pos: absolute;
    }    

    /* top navbar */

    nav {
        height: 65px;
    }

    .sidenav-button {
        position: relative;
    }
    
    .sidenav-button button {
        padding: 5px;
        width: 65px;
        height: 65px;
    }
    
    .sidenav-icon {
        font-size: 30px;
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    
    .sidenav-button button:hover {
        color: white;
        cursor: pointer;
    }

    .darkmode-container {
        margin-left: 10px;
    }

    .darkmode-icon {
        font-size: 30px;
    }
    
    nav a h1 {
        margin-left: 0;
        font-size: 20px;
    }
    
    .dropdown {
        position: static;
        margin-right: 10px;
    }
    
    .dropdown button {
        width: 50px;
        height: 50px;
    }
    
    .dropdown-icon {
        font-size: 30px;
    }
    
    .dropdown-menu {
        display: none;
        position: absolute;
        width: 80%;
        left: 18%;
        background-color: #333;
        padding: 10px;
        border-radius: 10px;
    }

    .dropdown-menu a {
        padding: 2px;
        margin: 25px;
        font-size: 20px;
        color: white;
    }
    
    /* left navbar */
    .body {
        display: var(--body-display);
        align-items: normal;
    }

    .body .left-nav {
        display: var(--sidenav);
        width: 60%;
        background-color: #222;
        position: fixed;
        height: 100%;
        margin-top: 65px;
        border-right: #555 1px solid;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 100px;
    }
    
    .left-nav ul {
        align-items: center;
    }
    
    .left-nav li {
        list-style: none;
        padding: 10px;
    }
    
    .left-nav li:hover {
        background-color: tomato;
        color: #222;
        transition: .5s;
    }
    
    .left-nav a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 8px;
        width: 100%;
    }
    

    /* main-content */

    .body .main {
        width: var(--main-width);
        height: 100%;
        margin-top: 0;
        margin-left: var(--main-margin);
        padding: 30px;
        color: var(--primary-color);
        padding-top: 100px;
    }

    .main div:not(.code-container) {
        padding-top: 0;
    }

    .body .main h1, h2, h3, h4, h5, h6 {
        padding: 20px;
        font-size: 20px;
    }
    
    .body .main p {
        margin: 20px;
        font-size: 15px;
        white-space: pre-line;
    }

    /* Code Container */
    
    code {
        font-family: 'Courier New', monospace;
        color: yellow;
        font-size: 15px;
    }
    

}