* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

nav {
    padding-left: 50px;
    height: 100px;
    background-color: #222;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    background-color: tomato;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

nav h1 {
    color: white;
}

